<ion-header>
  <ion-navbar>
    <ion-title>
        Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 class="title">Login</h2>
    <ion-card *ngIf="loginCheck()">
        <h2 class="title" text-wrap>
            <ion-card-content>
                <ion-item>
                    <p>Du er logget ind som: <b>{{auth.currentUser}}</b></p>
                </ion-item>
              </ion-card-content>
            </h2>
              </ion-card>
              <ion-card>
                <ion-card-content>
          
               
                        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                               <ion-item>
                                <ion-label><b>E-mail: </b></ion-label>
                              </ion-item>
                            <ion-row>
                                <ion-item>
                                    <ion-input class="card-md" type="email" value="" placeholder="Indtast din e-mail" formControlName="email"></ion-input>
                                </ion-item>
                            </ion-row>
                               <ion-item>
                                <ion-label><b>Password: </b></ion-label>
                              </ion-item>
                            <ion-row>
                                <ion-item>
                                    <ion-input class="card-md" type="password" placeholder="Indtast dit password" formControlName="password"></ion-input>
                                </ion-item>
                            </ion-row>
                        </form>
                        <button ion-button color="primary" block large outline (click)="login()">Log in</button>
                  
                          <button ion-button color="primary" block large outline [navPush]="signupPage">Opret Bruger</button>
          
                          <button ion-button color="primary" block large outline [navPush]="resetPasswordPage">Nulstil password</button>
                      </ion-card-content>
                    </ion-card> 
                  <ion-card>
                    <ion-card-content>
    <ion-item center>  
    <button center ion-button color="primary" block large outline icon-right (click)="loginWithFacebook()">
      Login med
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ion-item> 
  </ion-card-content>
</ion-card>
<ion-card *ngIf="auth.currentUser">
  <ion-card-content>
  <ion-item center>
    <button center ion-button color="primary" block large outline (click)="logout()">
      Logud
    </button>
  </ion-item> 
</ion-card-content>
</ion-card>
</ion-content>