<ion-header>
  <ion-navbar>
    <ion-title>
        Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <h2 class="title">Login</h2>
    <ion-card *ngIf="auth.currentUser">
        <h2 class="title" text-wrap>
            <ion-card-content>
                <ion-item>
                    <p>Du er logget ind som: <b>{{auth.currentUser}}</b></p>
                </ion-item>
              </ion-card-content>
            </h2>
              </ion-card>
              <ion-card>
                <ion-card-content>
          
               
                        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                            <ion-row>
                                <ion-item>
                                    <ion-label for="email"></ion-label>
                                    <ion-input class="card-md" type="email" value="" placeholder="Email" formControlName="email"></ion-input>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-label for="password"></ion-label>
                                    <ion-input class="card-md" type="password" placeholder="Password" formControlName="password"></ion-input>
                                </ion-item>
                            </ion-row>
                        </form>
                        <button (click)="login()" ion-button block>Log in</button>
                  
                          <button [navPush]="signupPage" ion-button block>Opret Bruger</button>
          
                          <button [navPush]="resetPasswordPage" ion-button block>Nulstil password</button>
                      </ion-card-content>
                    </ion-card> 
                  <ion-card>
                    <ion-card-content>
    <ion-item center>  
    <button center ion-button icon-right (click)="loginWithFacebook()">
      Login med
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ion-item> 
  </ion-card-content>
</ion-card>
<ion-card *ngIf="auth.currentUser">
  <ion-card-content>
  <ion-item center>
    <button center ion-button (click)="logout()">
      Logud
    </button>
  </ion-item> 
</ion-card-content>
</ion-card>
</ion-content>