<ion-header>
    <ion-navbar>
      <ion-title>
        Garn Projekter
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="addProject()">
          Opret
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <h2 class="title">Garn Projekter</h2>
    <ion-card>
          <ion-card-content>
            <ion-item>
                <ion-label><b>Filter:</b></ion-label>
                <ion-select placeholder="Vælg" okText="Ok" cancelText="Annullér" name="Filter" required="" side="right">
                  <ion-option value="Alle" (ionSelect)="getAllProjects()">Alle</ion-option>
                  <ion-option value="Igangværende" (ionSelect)="getProjectsByInProgress()">Igangværende</ion-option>
                  <ion-option value="Færdig" (ionSelect)="getProjectsByComplete()">Færdig</ion-option>
               </ion-select>
              </ion-item>
              <ion-item *ngIf="projects.length == 0">
                <p>Du har ikke oprettet et projekt - tryk på "Opret"</p>
              </ion-item>
        </ion-card-content>
        </ion-card>
 

          
              <ion-card *ngFor="let project of projects; let i=index" (click)="openProject(project.rowid)">

                    <ion-card-content>
                      <ion-item text-right><h3><b>Status:</b> {{project.status}}</h3></ion-item>
                    <ion-item text-left>
                          <h2><b>{{project.name}}</b></h2> 
                          <p>{{project.description}}</p>
                    </ion-item>
                      
                         <ion-item text-right><button ion-button clear>Vis</button></ion-item>
                  </ion-card-content>
                  </ion-card>
        
    </ion-content>