<ion-header>

  <ion-navbar>
    <ion-title>Tilføj billede</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2 class="title">Tilføj billede</h2>
  <ion-card>
      <ion-card-content>          
          <ion-item *ngIf="projectPictureUrl">
            <img [src]="projectPictureUrl">
        </ion-item>
        <ion-item>
            <button ion-button color="primary" block large outline (click)="uploadHandler()">Tag et billede med kamera</button>
        </ion-item>
        <ion-item>
            <ng-container *ngIf="progress | async as percent">

                <progress [value]="percent" max="100"></progress>
              <p>Billedet er blevet tilføjet!</p>
              </ng-container>
        </ion-item>
        </ion-card-content>
        </ion-card>
    
</ion-content>
