<ion-header>

  <ion-navbar>
    <ion-title>Visning af {{project.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2 class="title">Visning af {{project.name}}</h2>
  <ion-card>

      <ion-card-header>
        <h1><b>Projekt</b></h1>
      </ion-card-header>
    
      <ion-card-content>
      <ion-item>
          <p><img *ngIf="project.picture" [src]="projectsService.projectPictureUrl | async"></p>
      </ion-item>
         <ion-item>
        <ion-label><b>Navn: </b></ion-label>
      </ion-item>
        <ion-item>
          <ion-label text-wrap>{{project.name}}</ion-label>
        </ion-item>
      
      <ion-item>
        <ion-label><b>Beskrivelse: </b></ion-label>
      </ion-item>
       <ion-item>
         <ion-label text-wrap>{{project.description}}</ion-label>
        </ion-item>
      
      <ion-item>
          <ion-label><b>Opskrift: </b></ion-label>
        </ion-item>
          <ion-item>
            <ion-label text-wrap>{{project.recipe}}</ion-label>
          </ion-item>
        
      <ion-item>
          <ion-label><b>Nål/Pind størrelse: </b></ion-label>
        </ion-item> 
          <ion-item>
            <ion-label text-wrap>{{project.needleSize}}</ion-label>
          </ion-item>
        
      </ion-card-content>
    
    </ion-card>
    <ion-card>
  
        <ion-card-header>
          <h1><b>Garn</b></h1>
        </ion-card-header>
      
        <ion-card-content>
        <ion-item>
          <ion-label><b>Navn: </b></ion-label>
        </ion-item>
        <ion-item>  
            <ion-label text-wrap>{{project.yarnProductName}}</ion-label>
            </ion-item>
        <ion-item>
          <ion-label><b>Farve: </b></ion-label>
        </ion-item>
        <ion-item>
            <ion-label text-wrap>{{project.yarnColor}}</ion-label>
          </ion-item>
        <ion-item>
          <ion-label><b>Farvekode: </b></ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{project.yarnColorCode}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label><b>Partinummer: </b></ion-label>
          </ion-item>
            <ion-item>
              <ion-label text-wrap>{{project.batchNr}}</ion-label>
            </ion-item>
          
        <ion-item>
          <ion-label><b>Løbelængde: </b></ion-label>
        </ion-item>
          <ion-item>
            <ion-label text-wrap>{{project.yarnLength}}</ion-label>
          </ion-item>
        
        </ion-card-content>
      
      </ion-card>

      <ion-card>
          <ion-card-content>
          <ion-item>
            <ion-label><b>Omgangstæller: </b></ion-label>
          </ion-item>
            <ion-item>
              <ion-label *ngIf="!project.shareStatus">{{project.counterOwner}}</ion-label>
              <ion-label *ngIf="project.shareStatus == true && project.owner == auth.currentUser"><b>{{project.owner}}</b> : {{project.counterOwner}} <p>({{project.share}} : {{project.counterShare}})</p></ion-label>
              <ion-label *ngIf="project.shareStatus == true && project.owner != auth.currentUser"><b>{{project.share}}</b> : {{project.counterShare}} <p>({{project.owner}} : {{project.counterOwner}})</p></ion-label>
            </ion-item>
          
          <ion-item>
            <ion-label><b>Noter: </b></ion-label>
          </ion-item>
            <ion-item>
              <ion-label text-wrap>{{project.notes}}</ion-label>
            </ion-item>
          <ion-item *ngIf="!project.picture">
          <button ion-button color="primary" block large outline (click)="uploadProjectPicture(project)">Tilføj billede</button>
          </ion-item>
          <ion-item *ngIf="project.picture">
            <button ion-button color="primary" block large outline (click)="uploadProjectPicture(project)">Skift billede</button>
            </ion-item>
          <ion-item>
          <button ion-button color="primary" block large outline (click)="updateCounter(project)">Omgangstæller</button>
          </ion-item>
          <ion-item>
          <button ion-button color="primary" block large outline (click)="editProject(project)">Redigér</button>
          </ion-item>
          <ion-item *ngIf="!project.shareStatus">
              <button ion-button color="primary" block large outline (click)="shareProject(project)">Del projekt</button>
              </ion-item>
              <ion-item *ngIf="project.shareStatus && project.owner == auth.currentUser">
                <button ion-button color="primary" block large outline (click)="shareProject(project)">Delt med: {{ project.share }}</button>
                </ion-item>
                <ion-item *ngIf="project.shareStatus && project.owner != auth.currentUser">
                  <button ion-button color="primary" block large outline (click)="shareProject(project)">Delt af: {{ project.owner }}</button>
                  </ion-item>
          <ion-item *ngIf="project.owner == auth.currentUser">
          <button ion-button color="danger" block large outline (click)="deleteConfirm(project)">Slet</button>
          </ion-item>
          <ion-item *ngIf="project.owner != auth.currentUser">
            <button ion-button disabled color="danger" block large outline (click)="deleteConfirm(project)">Slet</button>
            </ion-item>
        </ion-card-content>
        </ion-card>
    
</ion-content>
