
<ion-header>

  <ion-navbar>
    <ion-title>Omgangstæller</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1 class="title">Omgangstæller</h1>
  <form (ngSubmit)="updateCounter()">
                <ion-card>
                      <ion-card-content text-center>
                               <ion-label *ngIf="project.owner == this.auth.currentUser" class="counter">{{project.counterOwner}}</ion-label>
                                <ion-label *ngIf="project.owner != this.auth.currentUser" class="counter">{{project.counterShare}}</ion-label>
                    </ion-card-content>
                    </ion-card>
                    <ion-card>
                        <ion-card-content text-center>
                          
                            <button ion-button color="danger" type="submit" large outline (click)="onDecrement()"><ion-icon name="md-remove"></ion-icon></button>
                            <button ion-button color="secondary" type="submit" large class="space" outline (click)="onIncrement()"><ion-icon name="md-add"></ion-icon></button>
                             
                      </ion-card-content>
                      </ion-card>


        <ion-input type="hidden" [(ngModel)]="project.rowid" name="rowid"></ion-input>
</form>
</ion-content>


